<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring_03:war exploded">
    <output-path>$PROJECT_DIR$/spring_03/target/spring_02</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring_03" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: log4j:log4j:1.2.17" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.0.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.0.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.0.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.0.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.0.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.0.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.0.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.0.3.RELEASE" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-annotations:2.10.0" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-core:2.10.0" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-databind:2.10.0" />
          <element id="library" level="project" name="Maven: commons-fileupload:commons-fileupload:1.3.1" />
          <element id="library" level="project" name="Maven: commons-io:commons-io:2.5" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/spring_03/target/spring_02/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring_03/web/Web" />
    </root>
  </artifact>
</component>